{% extends "auctions/layout.html" %}

{% block title %}
    Create Listing
{% endblock %}

{% block body %}
    <h1>Create New Listing</h1>
    <form action="{% url 'index' %}" method="POST">
        <label>Title:</label>
        <input name="title" type="text">
        <br/>
        <label>Description:</label>
        <br/>
        <textarea name="description" class="content"></textarea>
        <br/>
        <label>Starting Bid:</label>
        <input name="price" type="number">
        <br/>
        <label>Image:</label>
        <input name="image_url" type="text" placeholder="Paste Image Link Here...">
        <br/>
        <label>Category:</label>
            <select>
            {% for category in categories %}
                <option>{{ category }}</option>
            {% endfor %}
            </select>
        <br/>
        <input type="submit" value="Create" class="btn btn-primary">
    </form>
{% endblock %}
